<!DOCTYPE html>
<html lang="'en'" dir="ltr">
  {% include "includes/head.html" %}
    <style>
      @font-face {
        font-family: 'GowunDodum-Regular';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
        font-weight: normal; font-style: normal;
        }
        body {
            font-family: 'GowunDodum-Regular'; word-break: keep-all; font: size 10px;
        }
    </style>
    <div class="page-content">
      <div class="header">
        {% include "includes/header.html" %}
      </div>
      {% comment %} <div id='particles-js'></div> {% endcomment %}
      <div class="wrapper">


        {% if messages %}
        <div class="container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                {% comment %} [{{ message.tags }}] {% endcomment %}
                {{ message.message }}
                </div>
        {% endfor %}
        </div>
        {% endif %}

        
        {% block content %}
        {% endblock %}
      </div>
  </div>

    {% include "includes/footer.html" %}
</html>
