{% extends 'layouts/default.html' %}
{% load pybo_filter %}
{% load i18n static %}
{% block content %}

    <div></div>
    <div class="container">
        <section id="error">
            <div class="row">
                <div class="col-md-12">
                    <p><h2>오류신고 게시판</a></h2>
                    <p>
                      {% blocktrans trimmed %}
                       not yet..
                      {% endblocktrans %}
                    </p>
                </div>
            </div>
            <p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}