<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>올바른 분리수거 팁</title>
        <link rel="stylesheet" href="/static/css/trash.css">
        <style>
            p{text-align: center; color:teal; text-shadow: navy;}
            @font-face {
            font-family: 'GongGothicMedium';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
            font-weight: normal;
            font-style: normal;
            }       
            body{font-family: 'GongGothicMedium'; font-size: 45px;}
        </style>
    </head>
    <body>
        <div>
            <p>분리배출방법,</br>
            꼼꼼히 알려드려요 !</p>
            <a class href = {% url 'pybo:paper' %}><img src="/static/image/paperIcon.png" style="max-width:50%; height:auto;float: left;" alt="종이" ></a>
            <a class href = {% url 'pybo:plastic' %}><img src="/static/image/plasticIcon.png" style="max-width:50%; height:auto; float:left;" alt="플라스틱" ></a>
            <a class href = {% url 'pybo:vinyl' %}><img src="/static/image/vinyl.png" style="max-width:50%; height:auto; float: left;" alt="비닐" ></a>
            <a class href = {% url 'pybo:balpo' %}><img src="/static/image/balpo.png" style="max-width:50%; height:auto;float: left;" alt="발포합성수지" ></a>
            <a class href = {% url 'pybo:glass' %}><img src="/static/image/glass.png" style="max-width:50%; height:auto;float: left;" alt="유리" ></a>
            <a class href = {% url 'pybo:can' %}><img src="/static/image/can.png" style="max-width:50%; height:auto;float: left;" alt="캔" ></a>
        </div>
    </body>
</html>

