{% extends 'layouts/default.html' %}
{% load i18n static %}
{% block content %}

    <div></div>
    <div class="container">
        <section id="event">
            <div class="row">
                <div class="col-md-12">
                    <p><h2>지금 진행중입니다!</a></h2>
                    <p>
                      {% blocktrans trimmed %}
                       그림이 요상한건 아직 적당한 그림이 없기 때문이죠. 
                      {% endblocktrans %}
                    </p>
                </div>
            </div>
            <p>

                        <div class="cover">
                            <h5><a class='text-dark' style='font-weight:bold;'>이벤트 하나.</a></h5>
                            <h6>가입만 하셔도 초록점수 10점을 드려요.</h6><p>
                                지금 바로 <a class href = {% url 'common:signup' %}>가입하기</a>로 가볼까요? 
                            <p><a class href = {% url 'common:signup' %}>
                                <img src="/static/image/greenpoint.png" alt = "greeinpoint" style="max-width:50%; height:auto;">
                            </a>
                        </div>
                        <div class="info">
                            <p>
                              {% blocktrans trimmed %}
                              <span class="text-dark" style='font-weight:bold;'> <p>
                              {% endblocktrans %}
                            </p>                     
                        </div>
                                        <p><p>


                        <div class="cover">
                            <h5><a class='text-dark' style='font-weight:bold;'>이벤트 둘.</a></h5>
                            <h6>환경사랑 참여를 약속하시면 초록점수 30점을 드립니다.</h6><p>
                                아래 그림을 클릭해서 참여 가능<p>
                                <img src="/static/image/greenpoint.png" alt = "greeinpoint" style="max-width:50%; height:auto;">
                            </a>
                        </div>
                        <div class="info">
                            <p>
                              {% blocktrans trimmed %}
                              <span class="text-dark" style='font-weight:bold;'> <p>
                              {% endblocktrans %}
                            </p>                     
                        </div>
                    
                    <p><p>
                        
                        <div class="cover">
                            <h5><a class='text-dark' style='font-weight:bold;'>이벤트 셋. 
                                <a class='text-secondary' style='font-weight:bold;'>[Exhibition only]</a></h5>
                            <h6>얼마나 열심히 참여하셨는지 궁금하신가요? 
                             <p>모든 회원 중 나의 초록점수 순위를 확인할 수 있어요. (전시회용 이벤트 메뉴)</h6><p>
                                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!" 
                                style="font-size:20px";input type="button" onclick=href="{% url 'common:points_list' %}">실시간 순위 확인하기</a>
                            </a>
                        </div>
                        <div class="info">
                            <p>
                                {% comment %} <p><a class href = {% url 'common:point' %}>
                                    <img src="/static/image/greenpoint.png" alt = "quiz" style="max-width:70%; height:auto;"> {% endcomment %}
                              {% blocktrans trimmed %}
                              <span class="text-dark" style='font-weight:bold;'> <p>
                              {% endblocktrans %}
                            </p>                     
                        </div>

                    <p><p>    


            {% comment %} <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!" 
            style="font-size:20px";input type="button" onclick=href="{% url 'common:points_list' %}">[EVENT]실시간 초록점수순위</a>
        
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!" 
            style="font-size:20px";input type="button" onclick=href="{% url 'common:point' %}">초록점수받기</a>
            </br> {% endcomment %}

        </div>
        </section>
    </div>
{% endblock %}