{% extends 'layouts/default.html' %}
{% load pybo_filter %}
{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="col-5">
            <h4><a class='text-success'>초록점수</a> 는 무엇인가요?</h4>
        </div>
    </div>
    여러분의 참여를 통해 쌓이는 포인트입니다.
    <p>환경사랑을 실천하시고 포인트 혜택도 받으세요!

        <div class="row">
            <div class="col-5">
                <h4>어떻게 받을 수 있나요?</h4>
            </div>
        </div>

    <p>임시 그림 자리에 설명이나 이벤트를 넣으면 될것같기도 하고
    <p><a class href = {% url 'common:quiz' %}><img src="/static/image/greenpoint.png" alt = "quiz" style="max-width:100%; height:auto;">
     

    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!" 
    style="font-size:20px";input type="button" onclick=href="{% url 'common:points_list' %}">[EVENT]실시간 초록점수순위</a>

    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!" 
    style="font-size:20px";input type="button" onclick=href="{% url 'common:point' %}">초록점수받기</a>
    </br>
</div>

    {% endblock %}