{% extends 'layouts/default.html' %}
{% load pybo_filter %}
{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="col-5">
            <h4>초록점수란?</h4>
        </div>
    </div>
    임시 그림 자리에 설명이나 이벤트를 넣으면 될것같기도 하고
    <p><a class href = {% url 'common:quiz' %}><img src="/static/image/greenpoint.png" alt = "quiz" style="max-width:100%; height:auto;">
     

    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!" 
    style="font-size:20px";input type="button" onclick=href="{% url 'common:points_list' %}">[EVENT]실시간 초록점수순위</a>

    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!" 
    style="font-size:20px";input type="button" onclick=href="{% url 'common:point' %}">초록점수받기</a>
    </br>
</div>

    {% endblock %}