{% extends 'layouts/default.html' %}
{% load i18n static %}
{% block content %}

    <div></div>
    <div class="container">
        <section id="greenpoint">
            <div class="row">
                <div class="col-md-12">
                    <p><h2>What is <a class='text-success'>Greenpoint?</a></h2>
                    <p>
                      {% blocktrans trimmed %}
                      여러분의 참여를 통해 쌓이는 포인트입니다.
                      <p>환경사랑을 실천하시고 포인트 혜택도 받으세요!
                      {% endblocktrans %}
                    </p>
                </div>
            </div>
            <p><p>
            <div class="row clearfix">
                <div class="col-md-6">
                    <h3>Q. 초록점수는 어떻게 받을 수 있나요?</h3><p>
                    <p><span class="text-dark" style='font-weight:bold;'>1. 오류신고에 참여해 주세요.<p>
                    <div class="cover">
                        <p><a class href = {% url 'common:report' %}>
                            <img src="/static/image/error.png" alt = "quiz" style="max-width:70%; height:auto;">
                        </a>
                    </div>
                    <div class="info">
                        <p>
                          {% blocktrans trimmed %}
                          지도에 휴지통 위치가 잘못 표시되었나요?
                          휴지통의 정보가 실제 내용과 다른가요?
                          올바른 내용으로 수정할 수 있도록 잘못된 내용을 알려주세요.
                          <a class='text-primary'><a class href = "/common/report">오류신고</a>를 클릭하셔서 의견을 남겨주세요.
                          {% endblocktrans %}
                        </p>                     
                    </div>
                </div>
                <p><p>

                    <div class="cover">
                        <span class="text-dark" style='font-weight:bold;'>2. 제안하기에 참여해 주세요.</span><p>
                        <p><a class href = {% url 'common:contact' %}>
                            <img src="/static/image/suggestion.png" alt = "suggestion" style="max-width:70%; height:auto;">
                        </a>
                    </div>
                    <div class="info">
                        <p>
                          {% blocktrans trimmed %}
                            '휴지통을 찾아서'에 주실 소중한 의견이 있으신가요?
                             지금 바로 제안하기에 참여해 주세요. 
                             제안이 채택되면 초록점수를 적립하여 드립니다.
                             <a class='text-primary'><a class href = "/common/contact">제안하기</a>를 클릭하셔서 의견을 남겨주세요.
                          {% endblocktrans %}
                        </p>                     
                    </div>
                </div>
                <p><p><p><p><p><p>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <h3>Q. 초록점수로 무엇을 할 수 있나요?</h3>
                        <span class="text-dark" style='font-weight:bold;'>에코 아이템을 받을 수 있어요.</span><p>
                        <div class="cover">
                            <p><a class href = {% url 'common:mypage' %}>
                                <img src="/static/image/green_coupon.png" alt = "quiz" style="max-width:70%; height:auto;">
                            </a>
                        </div>
                        <div class="info">
                            <p>
                              {% blocktrans trimmed %}
                                열심히 모은 초록점수가 100점이 되면 에코 아이템으로 교환할 수 있는 쿠폰으로 바꿀 수 있어요. (아마도요 ㅠㅠ)
                              {% endblocktrans %}
                            </p>                     
                        </div>
                    </div>

            
            </br>
        </div>
        </section>
    </div>
{% endblock %}