{% extends 'layouts/default.html' %}
{% block content %}
<div class="container my-3">
    <div class="row my-3">
        <div style="text-align:center;">
            <h3><span class='text-black'>지구를 사랑하는
            <span class='text-success' style='font-weight:bold;'>{{ user.first_name }}</span>
            <span class='text-black'> 님!</h3>
            <p><h4>환경사랑 실천을 약속해 주세요.</h4>
    <div>
        <img src="/static/image/green_promise.png" style="max-width:100%; height:auto;" alt="분리수거 팁을 알려드려요">
    </div>
    
        <form method="post" class="post-form" action="{% url 'common:point' %}">
            {% csrf_token %}
            {% include "form_errors.html" %}
            <div class="form-group">

            <input type="text" class="form-control" name="reason" id="reason"
            value="{{ '' |default_if_none:'1.환경사랑약속'}}">
        <div style="text-align:center;">
        <p class="bg-success center-block">
        <button type="submit" class="btn btn-success">약속해요</button>
    </form>

{% endblock %}  